.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 8px;
  border-radius: 30px;
  color:black;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 80%;
}

.header__right > h4 {
  margin-left: 10px;
}
